@model WebApplication1.Models.CardViewModel

@{
    ViewBag.Title = "Card Proxy";
}

<div class='proxy @Html.Raw(Model.Colors)'>

    <div class='background'><div class='backgroundOverlay'></div></div>

    <div class='border @Html.Raw('d' + Model.Border)'>
        <div class='top'>
            <div class='name'><span>@Html.Raw(Model.Name)</span></div>
            <div class='cost'><span>@Html.Raw(Model.Cost)</span></div>
        </div>
        <div class='art'></div>
        <div class='typeline'>
            <div class='type'><span>@Html.Raw(Model.Type)</span></div>
            <div class='symb rarity_@Html.Raw(Model.Rarity)'>@Html.Raw(Model.SetSymbol)</div>
        </div>
        <div class='textbox jtextfill'>
            <span>
                @Html.Raw(Model.Text)
                @Html.Raw(Model.PTPadding)
            </span>
        </div>

        <div class='additional'>
            <div><div>@Html.Raw(Model.Number)/??? @Html.Raw(Model.RarityCode)</div></div>
            <div class='columns'>
                <div class='left'>@Html.Raw(Model.SetCode) - EN - Illu.@Html.Raw(Model.Artist)</div>
                <div class='right'>MTG Proxy - delver.no</div>
            </div>
        </div>

        
        @if (Model.Power != "") {
        <div class='creature'>
            <div>@Html.Raw(Model.Power)/@Html.Raw(Model.Thoughness)</div>
        </div>
        }

    </div>
</div>
