@model WebApplication1.Models.CardViewModel

@{
    ViewBag.Title = "Card Proxy";
}

<div class='proxy @Model.Colors '>

    <div class='background'><div class='backgroundOverlay'></div></div>

    <div class='border b_@Model.Border'>
        <div class='top'>
            <div class='name'><span>@Model.Name</span></div>
            <div class='cost'><span>@Model.Cost</span></div>
        </div>
        <div class='art' @Model.BG></div>
        <div class='typeline'>
            <div class='type'><span>@Model.Type</span></div>
            <div class='symb rarity_@Model.Rarity'>@Model.SetCode</div>
        </div>
        <div class='textbox jtextfill'>
            <span>
                @Model.Text
                @Model.PTPadding
            </span>
        </div>

        <div class='additional'>
            <div><div>@Model.Number/??? @Model.RarityCode</div></div>
            <div class='columns'>
                <div class='left'>@Model.SetCode - EN - Illu.@Model.Artist</div>
                <div class='right'>MTG Proxy - delver.no</div>
            </div>
        </div>

        
        @if (Model.Power != "") {
        <div class='creature'>
            <div>@Model.Power/@Model.Thoughness</div>
        </div>
        }

    </div>
</div>
